.contacts{
  margin-bottom: 20px;
}

.contacts__title{
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color:$black;
}

.contacts__form{
  font-size: 14px;
  text-transform: uppercase;
  color: $darkgrey;
}

.contacts__form--like{
  font-weight: bold;
  font-size: 18px;
  color: $black;
}
