.impression{
  margin-bottom: 15px;
}

.impression__title{
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color:$black;
}

.impression__item--text{
  font-weight: bold;
  font-size: 18px;
  color: $black;
}

.impression__list{
  list-style: none;
}
