.lions{
  margin-bottom: 20px;
}

.lions__title{
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color:$black;
}

.lions__list{
  list-style: none;
}

.lions__item--text{
  font-weight: bold;
  font-size: 18px;
  color: $black;
}
