.main-nav{
  background-color:$blue;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  color: $white;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width:$tablet-width){
  .main-nav__wrapper{
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
  }
}
