.main-nav {
  background-color: $blue;
  min-width: auto;
  text-align: center;
}

@media (min-width:$tablet-width) {
  .main-nav {
    background-color: $white;

  }
}

@media (min-width:$desktop-width) {
  .main-nav {
    background-color: $white;

  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media(min-width:$tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

@media(min-width:$desktop-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 1040px;
    padding-left: 90px;
    padding-right: 70px;
  }
  .main-nav__close {
    display: none;
  }
}

.main-nav__list a {
  color: $white;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

@media(min-width:$tablet-width) {
  .main-nav__list a {
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: $black;
  }
}

@media(min-width:$desktop-width) {
  .main-nav__list a {
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: $black;
  }
}
