.page-main{
  // width: 280px;
  // padding: 0 20px;
  // margin: 0 auto;
}

.page-main h1{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow:hidden;
}
