.photo{
  margin-bottom: 32px;
}

.photo__list{
  list-style: none;
}

@media(min-width:$tablet-width){
  .photo__list{
    // display: flex;
    // flex-wrap: wrap;
  }
}

.photo__description {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $black;
}

.photo__author-name{
  font-size: 14px;
  line-height: 24px;
  color: $darkgrey;
}

.photo__likes{
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $black;
}
