.review-unit{
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media(min-width:$tablet-width){
  .review-unit{

  }
  .review-unit__title{
    font-size: 30px;
  }
  .review-unit__text{
    
  }
}

.review-unit__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
}

.review-unit__text{
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $darkgrey;
}
