.review-unit__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
}

.review-unit__text{
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $darkgrey;
}
