.reviews__title{
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color:$black;
}

.reviews__text{
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $darkgrey;
}
