.search-hotel{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 49px;
}

.search-hotel__text{
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  color: $black;
}

 @media(min-width:$tablet-width){
   .search-hotel__text{
     font-size: 30px;
   }
 }

.search-hotel__description{
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $darkgrey;
}

.search-hotel__link{
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  color: $white;
  background: $blue;
  text-decoration: none;
}
