@media(min-width:$tablet-width) {
  .site-list {
    padding-left: 45px;
    padding-right: 25px;
  }
}

@media(min-width:$desktop-width) {
  .site-list {
    padding-left: 90px;
    padding-right: 66px;
  }
}
