.social__list {
      display: flex;
      margin-left: 84px;
      list-style: none;
}

@media(min-width:$tablet-width){
  .social__list{
        display: flex;
        margin: 48px 97px 45px 45px;
  }
  .social__title{
    margin: 48px 97px 45px 45px;
  }
}

.social__link--vk,
.social__link--fasebook,
.social__link--youtube {
  background-color: $blue;
}
