.video-presentation {
  margin-bottom: 32px;
  text-align: center;
}

@media(min-width:$tablet-width){
  .video-presentation{
    margin-bottom: 59px;
    text-align: center;
  }
}

@media(min-width:$desktop-width){
  .video-presentation{
    margin-bottom: 63px;
    text-align:center;
  }
}

.video-presentation__title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: $black;
}

.video-presentation__text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $darkgrey;
}
